footer{
    background-color: white;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 108px;
    padding-bottom: 93px;
  }

footer .logo img{
    max-width: 164px;
}

.footer-contact{
    max-width: 285px;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 153.9%; 
  }

  .footer-links{
    list-style-type: none;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 153.9%;
    text-align: left;
  }

  .footer-links h5{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 153.9%;
    margin-bottom: 15px;
  }

  .footer-links a{
    text-decoration: none;
    color: #000;
  }

  .btn-bg{
    border-radius: 8px;
    background: var(--Brand, linear-gradient(267deg, #656EEA 0%, #3CC7F4 99.52%));
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-style: none;
}
